.container {
    @apply
    flex h-24 bg-black items-center text-white

}

.logo {
    @apply
    flex items-center justify-center w-28 font-bold text-xl
}

.navbar {
    @apply
    flex justify-around items-center h-full w-[400px]
}

.navbar_item {
    @apply
    flex justify-center items-center h-full w-[120px] items-center cursor-pointer duration-150
    hover:bg-zinc-700
}

.icon {
    @apply
    h-7 cursor-pointer
}

.details {
    @apply
    flex h-full justify-center items-center
}

.modal_container {
    @apply
    flex flex-col justify-center items-center h-[450px] w-[450px] bg-yellow-500 rounded-md shadow-md border-4 border-black
}

.modal_container > span {
    @apply
    m-2 text-black cursor-pointer border-b-2 border-black border-dashed
}
